<app-header></app-header>
<app-button class="animated bounce delay-1s" expand="full" logo="fa-chevron-right">
  DASHBOARD
</app-button>
<div style="color: white;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. A similique ullam sit magnam rerum nobis
  iure aperiam. Eaque, odit at blanditiis doloremque minima voluptatibus id, tenetur eum eius
  dolorem architecto! <br />
  Lorem ipsum dolor sit amet consectetur adipisicing elit. A similique ullam sit magnam rerum nobis
  iure aperiam. Eaque, odit at blanditiis doloremque minima voluptatibus id, tenetur eum eius
  dolorem architecto!
</div>
<router-outlet> </router-outlet>
